# WorkOS Environment variables
WORKOS_CLIENT_ID=
WORKOS_API_KEY=
WORKOS_COOKIE_PASSWORD= # Must be a 32+ character random string
NEXT_PUBLIC_WORKOS_REDIRECT_URI=http://localhost:3000/callback

# Convex configuration
NEXT_PUBLIC_CONVEX_URL=
